<a href="https://colab.research.google.com/github/drstannwoji2019/PythonPractice/blob/main/BasicPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
msg = "Hello World"
msg

'Hello World'

# initialize variables 'a' and 'b' with 5 and 6 respectively

In [2]:
a = 5
b = 6

# add 'a' and 'b' and assign the result into a new variable 'c'

In [3]:
c = a + b
print(c)

11

# build a function to add 2 numbers

In [11]:
def addition(x,y):
  return(x+y)

In [12]:
addition(5,6)

11

# create a list consisting of first 5 even numbers and print the list

In [13]:
my_list = [2, 4, 6, 8, 10]
print(my_list)

[2, 4, 6, 8, 10]

# access the 3rd element of the list 'my_list'

In [15]:
my_list[2]

6

# given below is a dictionary having 4 unique keys, i.e., 'name', 'age', 'gender', 'is_employed'

In [17]:
my_dict = {'name':'Smith',
           'age':34,
           'gender': 'Male',
           'is_employed': False}

In [18]:
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': False}

# access value under 'name' key from 'my_dict'

In [19]:
my_dict['name']

'Smith'

# update 'is_employed' key to True

In [21]:
my_dict.update({'is_employed': True})
print(my_dict)

{'name': 'Smith', 'age': 34, 'gender': 'Male', 'is_employed': True}

# use a for loop to print only even numbers from the first 20 numbers, i.e. 1-20

In [31]:
for i in range(1,21):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

# import required libraries

In [1]:
import pandas as pd
import numpy as np

## read data_python.csv using pandas

In [5]:
mydata = pd.read_csv("/data_python.csv")
print(mydata)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [6]:
mydata.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

## print the number of rows and number of columns of mydata

In [8]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

## assign a variable 'target' with the 'Loan_Status' feature from mydata dataframe

In [10]:
target = mydata["Loan_Status"]
target

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

## print the datatype of ApplicantIncome feature

In [16]:
print(mydata["ApplicantIncome"].dtype)

int64

## conditional statement - print 'Yes' if the 21st element of 'Education' feature is 'Graduate' else print 'No'

In [17]:
if(mydata['Education'][20] == 'Graduate'):
    print("Yes")
else:
    print("No")

No

## print 31st to 35th rows of mydata

In [19]:
mydata.iloc[30:35]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
31,LP001095,Male,No,0,Graduate,No,3167,0.0,74.0,360.0,1.0,Urban,N
32,LP001097,Male,No,1,Graduate,Yes,4692,0.0,106.0,360.0,1.0,Rural,N
33,LP001098,Male,Yes,0,Graduate,No,3500,1667.0,114.0,360.0,1.0,Semiurban,Y
34,LP001100,Male,No,3+,Graduate,No,12500,3000.0,320.0,360.0,1.0,Rural,N

## print first 5 rows of 2nd and 3rd column only

In [21]:
mydata.iloc[:5,1:3]

  Gender Married
0   Male      No
1   Male     Yes
2   Male     Yes
3   Male     Yes
4   Male      No